<body ng-app='app'>  <div ng-controller='UsersController' data-ng-init="init()">    <a ng-click="createBattle()">Create Battle</a>    <ul>      <li ng-repeat="battle in battles">        <div ng-click="battle(user)">          {{battle.createdAt}}        </div>      </li>    </ul>  </div></body
